[general]
# This is the path and file name of where the SM's log file is stored.
# required; default: sm.log string
log_file=sm.log

# This is the name of a server running a log server. The supported implementation is available from here:
# http://code.activestate.com/recipes/577025-loggingwebmonitor-a-central-logging-server-and-mon/
# hostname of where the log server is running at
# XXX to be updated with florian's work
graylog_api=log.cloudcomplab.ch
graylog_port=12201

[service_manager]
# This is the location where the service orchestrator bundle is located
# optional; local file system path string
# TODO if not present the SM will look for a filename bundle/data/service_manifest.json
manifest=/mcn-sms/d-mobaas-sm/mobaas/bundle/data/service_manifest.json

# This is the location where the service orchestrator bundle is located
# required; local file system path string
bundle_location=mobilecloudnetworking/d-mobaas-so

# This is the location of a public key that will be registered with the CloudController.
# It MUST have a matching private key known to the local SSH sub-system.
# required; local file system path string
ssh_key_location=/mcn-sms/d-mobaas-sm/etc/mobaas_key.pub

# This is the endpoint where the keystone service runs
# required; default: http://localhost:35357/v2.0; a URL string
design_uri=http://bart.cloudcomplab.ch:35357/v2.0

# This file contains configuration parameters that should be set from the SM
# to the SO during different phases of the instantiation process. These parameters
# should not be returned to a EEU
service_params=/mcn-sms/d-mobaas-sm/etc/service_params.json

[service_manager_admin]
# This enables service registration with keystone
# required; values: {True | False}
register_service=True

# This is the token that the registration should be doe with
# required if registration enabled; a service token string
#service_token=b0e5e221a72e4cab9e7d8adb2a52f842
#service_token=6153d8d0fbda4b308fd7e101e5069236
#service_token=c1fa1344679345feab5a66b0d4a690c9
#service_token=c2c2934dc8bc4919a5fb9184293ec264
#service_token=0c56718b4c6d42349b1497f192bc5c91
service_token=995d3e2b88d345f29623c916ad37707f

# This is the tenant name that the registration should be doe with
# required if registration enabled; a tenant name string
#service_tenant_name=uni-bern
service_tenant_name=mcntub

# This is the OpenStack Region where the service will be available
# optional; default: RegionOne, a string
region=RegionOne

[cloud_controller]
# This is the enpoint where the cloud controller service runs
# required; default: http://localhost:8888; a URL string
nb_api=http://cc.cloudcomplab.ch:8889
user=demo
pwd=LU4JiFJSuL0H3r5bCJ1A3A

# connection retries: time to wait between attempts
wait_time=5000

# connection retries: number of retries to make
max_attempts=10
